
.login-page-wrapper {
  box-sizing: border-box;
  margin: 15px auto;
  width: 80%;
  height: auto;
  display: flex;
  align-self: stretch;

  .form-wrapper {
    margin: 15px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);

    @media (max-width: 600px){
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .avatar-wrapper{
        order:1;
      }


      .login-page-form{
        order: 2;
      }

    }


    .login-page-form {
      margin: 30px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;


      input {
        width: 95%;
        //min-width: 100px;
        height: 35px;
        outline: none;
        appearance: none;
        //border: none;
        border-radius: 5px;
        padding-left: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #333333;
        border: 1px solid rgba(51, 51, 51, 0.5);
      }



      #avatar {
        width: 200px;
        height: 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        cursor:pointer;
        background-image:none;
      }

      #last-name,
      #avatar,
      #password,
      #send,
      #clear{
        margin-top: 10px;
      }

      #send {
        transition-duration: 0.2s;
        width: 103%;
        height: 35px;
        border: 2px solid #333333;
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        background-color: rgba(51, 51, 51, 0.15);

        &:hover {
          cursor: pointer;
          background-color: #333333;
          color: #ffffff;
        }
      }

      #clear {
        transition-duration: 0.2s;
        width: 103%;
        height: 35px;
        border: 2px solid #333333;
        font-weight: bold;
        font-size: 18px;
        color: #333333;
        background-color: rgba(51, 51, 51, 0.15);

        &:hover {
          cursor: pointer;
          background-color: #333333;
          color: #ffffff;
        }
      }
    }

    .avatar-wrapper {
      margin: 30px auto;

      #avatar-img {
        width: 200px;
        height: 284px;
        background: center no-repeat url('../img/avatar.png') #333333;
        background-size: cover;
      }
    }
  }
}
