.header_search {
  margin: 0 auto;
  width: 256px;
  height: 32px;
  display: flex;
  align-self: center;

  img {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    left: 30px;
    top: 7px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  }

  .search_reset_button {
    width: 20px;
    height: 20px;
    position: relative;
    right: 40px;
    top: 3px;
    border: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    cursor: pointer;
    outline: none;
    background-color: transparent;
    &:hover {
      opacity: 0.7;
    }
  }

  input {
    margin: 0 auto;
    width: 256px;
    height: 32px;
    appearance: none;
    outline: none;
    border-radius: 15px;
    background-color: #dae1e5;
    border: 1px solid #aaafb1;
    color: #333333;
    padding-left: 35px;

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}
