<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
    <title>Team54 - Travel-app</title>
  </head>
  <body>
    <div id="app"></div>
    <footer class="footer">
      <div class="footer_wrapper">
        <a href="https://rs.school/react/">
          <div class="footer_logo"></div>
        </a>
        <div class="footer_git_link">
          <a href="https://github.com/Shemchuk/travel-app">
            <div class="footer_social"></div>
          </a>
          &emsp;
          <a href="https://github.com/Shemchuk">Mikhail Shamchuk</a>
          &emsp;
          <a href="https://github.com/durden666">Vladislav Plaksa</a>
          &emsp;
          <a href="https://github.com/Andrew-6676">Andrew Shavnev</a>
          &emsp;
          <a href="https://github.com/seha1">Sergey Gryzunov</a>
        </div>
        <div class="footer_year">&copy;2021</div>
      </div>
    </footer>
  </body>
</html>
