<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReactJS Global Mentoring Program 2021</title>
</head>
<body>
<div id="app"></div>
<footer class="footer">
    <div class="footer_wrapper">
        <div class="footer_logo"></div>
        <div class="footer_social"></div>
        <div class="footer_year">2021</div>
    </div>
</footer>
</body>
</html>
