<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReactJS Global Mentoring Program 2021</title>
</head>
<body>
<header></header>
<div id="app"></div>
<footer class="footer">
    <a href="https://rs.school/js/">
        <img src="<%= require('/src/img/rs_school_js.svg') %>" alt="logo">
        The Rolling Scopes
    </a>
    <a href="#">github</a>
</footer>
</body>
</html>
